<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title">
    <script   src="http://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/phaser.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <meta charset="utf-8">
    <title>Zombie Apocalypse - The Game</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
