<h4>error!!!</h4>
<form id="login-form" action="/auth/login" method="GET">
    <div class="form-group">
        <button id="login-button" type="submit" class="btn btn-primary has-spinner"> <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>Log In</button>
    </div>
</form>
