<div class="jumbotron text-center">
    <h1>Game Over</h1>
    
</div>



<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        
            
            
{{!--                 <form id="signup-form" action="/auth/signup" method="GET">
 --}}           <div class="row text-center">
                   <div class="col-lg-4"></div>
                   <div class="col-lg-4">
                       <button class="btn btn-primary very-large">Restart</button>
                   </div>
                   <div class="col-lg-4"></div>
                </div>
           
        
    </div>
    <div class="col-md-3"></div>
</div>
