<div class="jumbotron text-center">
    <h1>Zombie Apocalypse</h1>
    <p>How long can you survive?</p>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        
            
            
{{!--                 <form id="signup-form" action="/auth/signup" method="GET">
 --}}           <div class="row text-center">
                    {{!-- <div class="col-lg-6">
                         <form id="signup-form" action="/signup" method="GET">

                            <div class="form-group">
                                <button id="login-button" type="submit" class="btn btn-primary very-large"> <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>Sign Up</button>
                            </div>

                        </form>
                    </div>
                    <div class="col-lg-6">
                        <form id="login-form" action="/auth/login" method="GET">

                            <div class="form-group">
                                <button id="login-button" type="submit" class="btn btn-primary very-large"> <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>Log In</button>
                            </div>

                        </form>
                    </div> --}}

                    <div class="col-lg-12">
                        <p> 

                            The year is 2048. It all started with a couple who wanted to have a healthy baby. They had the resources, and scientists were confident they could splice the DNA of three people to minimize undesirable traits. No one thought designer babies would lead to such grotesque creatures that were half alive and half dead. They began to multiply uncontrollably ransacking and destroying everything in their path. The time has come to protect the human way of life, even if this means destroying our own creation. 

                        </p>
                        <br>
                        <br>
                        <form id="login-form" action="/characters" method="GET">

                            <div class="form-group">
                                <button id="login-button" type="submit" class="btn btn-primary very-large"> <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>Kill zombies</button>
                            </div>

                        </form>
                    </div>
                </div>
           
        
    </div>
    <div class="col-md-3">

    </div>
</div>

<div class="footer text-center">
    <!--<p> Built with Phaser.js</p>
    <p> and Tiled.js</p>-->
</div>
