<div class="jumbotron text-center">
    <h1>Zombie Apocalypse</h1>
    <p>How long can you survive?</p>
</div>



<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        
            
            
{{!--                 <form id="signup-form" action="/auth/signup" method="GET">
 --}}           <div class="row text-center">
                    <div class="col-lg-6">
                         <form id="signup-form" action="/signup" method="GET">

                            <div class="form-group">
                                <button id="login-button" type="submit" class="btn btn-primary very-large"> <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>Sign Up</button>
                            </div>

                        </form>
                    </div>
                    <div class="col-lg-6">
                        <form id="login-form" action="/auth/login" method="GET">

                            <div class="form-group">
                                <button id="login-button" type="submit" class="btn btn-primary very-large"> <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>Log In</button>
                            </div>

                        </form>
                    </div>
                </div>
           
        
    </div>
    <div class="col-md-3"></div>
</div>
