<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>Learn Game Development at ZENVA.com</title>

		<script type="text/javascript" src="js/phaser.min.js"></script>

		<style>
		  body {
		    padding: 0px;
		    margin: 0px;
		  }
		  </style>
	</head>

	<body>  
		<!-- include the main game file -->
        <!-- MAGILL Phaser automagically adds the game to the body using WebGL or Canvas, whichever is available from the browser. WebGL is faster, but Canvas is better supported I believe. -->
		<script src="js/game.js"></script>
	</body>
</html>
