#container {
  width: 400px;
  height: 400px;
  position: absolute;;
  z-index: 1;
}
.mapUnit {
  display: inline-block;
  background-color: yellow;
  border-style: solid;
  border-color: green;
  border-width: 2px;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: auto;
  margin: 0;
  padding:0;

}

#ball {
  height: 50px;
  width: 50px;
  border-radius: 20px;
  background-color: blue;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}